
textarea#user-input-text {
    width: 60%;
}

div#main-board {
    display: flex;
    padding: 20px 30%;
    justify-content: space-around;
}

div#verify_address {
    display: flex;
    padding: 20px 30%;
    /* justify-content: space-around; */
}

